/*All the added colors for color boxes*/
#redContainer .containerHeader{
	background: radial-gradient(
		circle, 
		rgba(204,0,0,1) 0%, 
		rgba(255,255,255,1) 100%
	);
}

#red0{
	background-color: #ff0000;
}
#red1{
	background-color: #a60040;
}
#red2{
	background-color: #ff5100;
}
#red3{
	background-color: #eb266e;
}
#red4{
	background-color: #f7b5d2;
}
#red5{
	background-color: #ff6b6b;
}
#red6{
	background-color: #ed5353;
}
#red7{
	background-color: #db3b3b;
}
#red8{
	background-color: #cf2323;
}
#red9{
	background-color: #bf1111;
}
#red10{
	background-color: #b30000;
}

#greenContainer .containerHeader{
background: radial-gradient(
	circle, 
	rgba(16,219,114,1) 0%, 
	rgba(255,255,255,1) 100%
	);
}

#green0{
	background-color: #0ee383;
}
#green1{
	background-color: #a0c29f;
}
#green2{
	background-color: #14996d;
}

#green3{
	background-color: #5dcfc1;
}
#green4{
	background-color: #139183;
}
#green5{
	background-color: #baf7be;
}

#green6{
	background-color: #7dd183;
}
#green7{
	background-color: #51ad58;
}
#green8{
	background-color: #2d8c34;
}
#green9{
	background-color: #126b19;
}
#green10{
	background-color: #014a07;
}

#blueContainer .containerHeader{
	background: radial-gradient(
		circle, 
		rgba(16,6,195,1) 0%, 
		rgba(247,249,250,1) 100%, 
		rgba(255,255,255,0.9973739495798319) 100%
	);

}

#blue0{
	background-color: #319bb5;
}
#blue1{
	background-color: #b1e2fc;
}
#blue2{
	background-color: #6767b5;
}
#blue3{
	background-color: #a7d2db;
}
#blue4{
	background-color: #3d48db;
}
#blue5{
	background-color: #808eff;
}
#blue6{
	background-color: #5b6ae3;
}
#blue7{
	background-color: #3a49c2;
}
#blue8{
	background-color: #1e2c9e;
}
#blue9{
	background-color: #0c1a87;
}
#blue10{
	background-color: #000c69;
}


#yellowContainer .containerHeader{
	background: radial-gradient(
		circle, 
		rgba(226,224,0,1) 0%, 
		rgba(255,255,255,1) 100%
	);
}

#yellow0{
	background-color: #e5e8be;
}
#yellow1{
	background-color: #eaff80;
}
#yellow2{
	background-color: #f2e338;
}
#yellow3{
	background-color: #d4cf4a;
}
#yellow4{
	background-color: #fce651;
}
#yellow5{
	background-color: #fffee3;
}
#yellow6{
	background-color: #fffec9;
}
#yellow7{
	background-color: #fffd99;
}
#yellow8{
	background-color: #fffc73;
}
#yellow9{
	background-color: #fcf726;
}
#yellow10{
	background-color: #e6e002;
}
#grayContainer .containerHeader{
	background: radial-gradient(
		circle, 
		rgba(62,62,62,1) 0%, 
		rgba(247,249,250,1) 100%, 
		rgba(255,255,255,0.9973739495798319) 100%
	);

}

#gray0{
	background-color: #ebedf0;
}
#gray1{
	background-color: #d4d6d9;
}
#gray2{
	background-color: #b4b5b8;
}
#gray3{
	background-color: #9b9c9e;
}
#gray4{
	background-color: #818182;
}
#gray5{
	background-color: #686869;
}

#randomContainer .containerHeader{
	background: linear-gradient(
		90deg, 
		rgba(255,255,255,1) 0%,
		rgba(238,3,115,1) 25%,  
		rgba(29,214,253,1) 50%, 
		rgba(226,252,69,1) 75%, 
		rgba(255,255,255,1) 100%
	);
}