
#redContainer .containerHeader{
	background: radial-gradient(
		circle, 
		rgba(204,0,0,1) 0%, 
		rgba(255,255,255,1) 100%
	);
}

#red0{
	background-color: #f55045;
}
#red1{
	background-color: #b81a2f;
}
#red2{
	background-color: #e80e2b;
}
#red3{
	background-color: #eb266e;
}
#red4{
	background-color: #f7b5d2;
}

#greenContainer .containerHeader{
	background: radial-gradient(
		circle, 
		rgba(6,210,3,1) 0%, 
		rgba(255,255,255,1) 100%
	);
}

#green0{
	background-color: #b4f7b2;
}
#green1{
	background-color: #a0c29f;
}
#green2{
	background-color: #14996d;
}

#green3{
	background-color: #5dcfc1;
}
#green4{
	background-color: #139183;
}

#blueContainer .containerHeader{
	background: radial-gradient(
		circle, 
		rgba(16,6,195,1) 0%, 
		rgba(247,249,250,1) 100%, 
		rgba(255,255,255,0.9973739495798319) 100%
	);

}

#blue0{
	background-color: #319bb5;
}
#blue1{
	background-color: #7ca7f2;
}
#blue2{
	background-color: #6767b5;
}
#blue3{
	background-color: #a7d2db;
}
#blue4{
	background-color: #3d48db;
}

#yellowContainer .containerHeader{
	background: radial-gradient(
		circle, 
		rgba(226,224,0,1) 0%, 
		rgba(255,255,255,1) 100%
	);
}

#yellow0{
	background-color: #e5e8be;
}
#yellow1{
	background-color: #f5fc90;
}
#yellow2{
	background-color: #f0dd30;
}
#yellow3{
	background-color: #fbff2b;
}
#yellow4{
	background-color: #fce651;
}

#grayContainer .containerHeader{
	background: radial-gradient(
		circle, 
		rgba(62,62,62,1) 0%, 
		rgba(247,249,250,1) 100%, 
		rgba(255,255,255,0.9973739495798319) 100%
	);

}

#gray0{
	background-color: #ebedf0;
}
#gray1{
	background-color: #d4d6d9;
}
#gray2{
	background-color: #b4b5b8;
}
#gray3{
	background-color: #9b9c9e;
}
#gray4{
	background-color: #818182;
}
#gray5{
	background-color: #686869;
}

#randomContainer .containerHeader{
	background: linear-gradient(
		90deg, 
		rgba(255,255,255,1) 0%,
		rgba(238,3,115,1) 25%,  
		rgba(29,214,253,1) 50%, 
		rgba(226,252,69,1) 75%, 
		rgba(255,255,255,1) 100%
	);
}