body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  color: white;
}

header {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  position: fixed;
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

#banner {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  margin-left: 1.5rem;
  display: inline-block;
}

/*Buttons to change text color*/
input[type="radio"] {
  position: fixed;
  top: 3.2rem;
  z-index: 1;
}

label {
  position: fixed;
  top: 3.2rem;
  z-index: 1;
}

label:nth-of-type(1) {
  left: 1.8rem;
}

input[type="radio"]:nth-of-type(1) {
  left: 7rem;
}

label:nth-of-type(2) {
  left: 8.5rem;
}

input[type="radio"]:nth-of-type(2) {
  left: 12rem;
}

label:nth-of-type(3) {
  left: 13.5rem;
}

input[type="radio"]:nth-of-type(3) {
  left: 17rem;
}

label:nth-of-type(4) {
  left: 18.5rem;
}

#black:checked ~ section .container .colorBox p,
#black:checked ~ section .box .colorBox p {
  color: black;
}

#gray:checked ~ section .container .colorBox p,
#gray:checked ~ section .box .colorBox p {
  color: gray;
}

#white:checked ~ section .container .colorBox p,
#white:checked ~ section .box .colorBox p {
  color: white;
}

/*Standard navbar and hidden hamburger navbar*/
nav {
  margin-left: auto;
}

nav a {
  line-height: 75px;
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  transition: border-bottom 0.15s ease-out;
  box-sizing: border-box;
  margin-right: 0.4rem;
}

#gray-link:hover,
#gray-link:active {
  border-bottom: 0.1rem solid gray;
}

#red-link:hover,
#red-link:active {
  border-bottom: 0.1rem solid red;
}
#green-link:hover,
#green-link:active {
  border-bottom: 0.1rem solid green;
}
#yellow-link:hover,
#yellow-link:active {
  border-bottom: 0.1rem solid yellow;
}
#blue-link:hover,
#blue-link:active {
  border-bottom: 0.1rem solid blue;
}
#random-link:hover,
#random-link:active {
  border-bottom: 0.1rem solid white;
}

#hamburger-container {
  display: none;
  margin: auto 0;
  margin-left: auto;
}

header input[type="checkbox"] {
  position: fixed;
  left: 79.7%;
  top: 1.2rem;
  width: 2rem;
  height: 2rem;
  z-index: 10;
  opacity: 0;
  display: none;
}

.hamburger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  z-index: -3;
}

/*Intro section*/
#intro {
  padding-top: 2rem;
  background-image: url("https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=953&q=80");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#intro h1 {
  margin-top: 30%;
  color: black;
  font-size: 3rem;
  font-weight: 300;
}

#intro h3 {
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 4rem;
}

/*Content of the site, color boxes*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.containerHeader {
  width: 100%;
  height: 7rem;
  color: #f0eeee;
  font-size: 2.5rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.wholeBox,
.vertBox,
.horizBox {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.horizBox {
  flex-direction: row;
  justify-content: space-between;
}

.vertBox {
  flex-direction: column;
  justify-content: space-between;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.colorBox {
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
}

.colorBox:hover p {
  background: rgba(0, 0, 0, 0.3);
}

.wholeBox .colorBox {
  height: 100%;
  width: 100%;
}

.vertBox .colorBox {
  height: 48%;
  width: 100%;
}

.horizBox .colorBox {
  height: 100%;
  width: 48%;
}

.box .colorBox {
  width: 195px;
  height: 195px;
  margin: 5px;
}

/*Button for changing colors in random section*/
#click {
  margin: 10px;
  padding: 5px;
  width:15rem;
  height: 2rem;
  font-size: 1.5rem;
  background: linear-gradient(
		90deg, 
		rgba(255,255,255,1) 0%,
		rgba(238,3,115,1) 25%,  
		rgba(29,214,253,1) 50%, 
		rgba(226,252,69,1) 75%, 
		rgba(255,255,255,1) 100%
  );
  border: none;
  color: black;
  text-transform:uppercase;
  letter-spacing: 0.1rem;
}

#click:hover{
  background: linear-gradient(
		90deg, 
		rgba(255,255,255,1) 0%,
		rgba(226,252,69,1) 25%,  
		rgba(29,214,253,1) 50%, 
		rgba(238,3,115,1) 75%, 
		rgba(255,255,255,1) 100%
  );
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

footer {
  color: black;
  text-align: center;
  height: 5rem;
  width: 100%;
}

/*Responsiveness of color boxes when screen between 860 and 1280px */
@media only screen and (max-width: 1280px) and (min-width: 860px) {
  .container div:nth-of-type(3) {
    width: 800px;
  }

  .box .colorBox {
    flex-basis: 30%;
  }
}

/*Responsiveness of color boxes and banner when screen up to 860px
  Change from standard navbar til hamburger navbar*/
@media only screen and (max-width: 859px) {
  .vertBox,
  .wholeBox,
  .horizBox {
    width: 200px;
  }

  .box .colorBox {
    flex-basis: 30%;
  }

  header nav {
    margin: auto auto;
  }

  nav {
    display: none;
  }

  #hamburger-container {
    display: block;
    position: absolute;
    left: 80%;
    top: 1rem;
  }

  #chk {
    display: block;
  }

  #chk:checked ~ nav {
    margin-top: 4.5rem;
    padding: 0 1.4rem;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
  }

  #banner {
    margin-top: 1rem;
    font-size: 2rem;
  }
}

/*Responsiveness of color boxes and banner when screen up to 650px*/
@media only screen and (max-width: 650px) {
  .container div:nth-of-type(3) {
    width: 400px;
  }

  .box .colorBox {
    flex-basis: 40%;
  }

  #banner {
    margin-top: 1rem;
    font-size: 4vw;
  }
}
